<div class="container-fluid">
  <div class="row col-xs-12">



    <footer>

      <!-- Hidden admin login button, causes modal to pop up -->
      <div id="adminLogin">
        <div *ngIf="!isAdmin">
          <img src="../../assets/gLogo.png" data-toggle="modal" data-target="#myModal">
        </div>
      </div>

      <!-- Hidden admin logout button, logs the admin out -->
      <div id="adminLogout">
        <div *ngIf="isAdmin">
          <img src="../../assets/gLogo.png" (click)="logout()">
        </div>
      </div>

      <!-- Social media image icons -->
      <div id="socialIcons">
        <a [href]="footerSocialMedia.instagram" target="_blank">
          <img src="../../assets/instagram.png" alt="Instagram Logo">
        </a>
        <a [href]="footerSocialMedia.facebook" target="_blank">
          <img src="../../assets/FBlogo100px.png" alt="Facebook Logo">
        </a>
      </div>

      <!-- Text in middle of footer -->
      <div id="footy">
        <!-- If not admin, display text in paragraph format -->
        <p *ngIf="!isAdmin" [innerText]="footerParagraph"></p>
        <!-- If admin, display input field to update footer text content -->
        <div *ngIf="isAdmin">
          <br>
          <label for="footerParagraphInput">Text content of footer:</label>
          <input type="text" id="footerParagraphInput" placeholder="footer" [(ngModel)]="footerParagraph">
          <br>
          <button class="btn btn-md updateTextButton" (click)="saveFooterParagraph()">Update</button>
          <!-- After successful update, show confirmation -->
          <span class="alert-success updated" *ngIf="footerParagraphUpdated">
            <strong>Updated</strong>
            <i class="fa fa-check-circle fa-1x" aria-hidden="true"> </i>
          </span>
        </div>
      </div>

      <!-- If admin, display input field to update social media links -->
      <div *ngIf="isAdmin">
        <br>
        <label for="footerInstagramInput">Instagram Link:</label>
        <input type="text" id="footerInstagramInput" placeholder="footer" [(ngModel)]="footerSocialMedia.instagram">
        <br>
        <label for="footerFacebookInput">Facebook Link:</label>
        <input type="text" id="footerFacebookInput" placeholder="footer" [(ngModel)]="footerSocialMedia.facebook">
        <br>
        <button class="btn btn-md updateTextButton" (click)="saveFooterSocialMedia()">Update</button>
        <!-- After successful update, show confirmation -->
        <span class="alert-success updated" *ngIf="footerSocialMediaUpdated">
          <strong>Updated</strong>
          <i class="fa fa-check-circle fa-1x" aria-hidden="true"> </i>
        </span>
      </div>

    </footer>



    <!-- Admin login form -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <p>Administrator Login</p>
          </div>

          <div class="modal-body">
            <br>
            <label for="emailInput">Email:&nbsp;&nbsp;&nbsp;</label>
            <input type="email" id="emailInput" [(ngModel)]="loginModel.email">
            <p *ngIf="loginErrors.email" class="validation">{{loginErrors.email}}</p>
            <br>
            <br>
            <br>
            <label for="passwordInput">Password:&nbsp;&nbsp;&nbsp;</label>
            <input type="password" id="passwordInput" [(ngModel)]="loginModel.pass">
            <p *ngIf="loginErrors.pass" class="validation">{{loginErrors.pass}}</p>
            <br>
            <br>
          </div>

          <div class="modal-footer">
            <button id="login-btn" class="btn btn-primary uploadImageButton" (click)="adminLogin()">Login</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>

        </div>
      </div>
    </div>
    <!-- End of admin login form -->



  </div>
</div>
