/* this is where the rules for the footer are defined, :flex keeps the footer at the bottom */

footer {
  text-align: center;
  font-size: 1.4em;
  position: flex;
  margin-top: 10px;
  margin-bottom: -10px;
  width: 100%;
  height: 40px;
  color: #3b2314;
}

/* Facebook and Instagram logos and links */
#socialIcons {
  float: right;
}

#socialIcons img {
  width: 30px;
  height: auto;
}

/* Text in the middle of the screen */
#footy {
  width: 100%
}

/* Logo that is clicked for admin login */
#adminLogin img {
  padding-top: 9px;
  float: left;
  width: 30px;
  height: auto;
}

/* Logo that is clicked for admin logout */
#adminLogout img {
  margin-top:3px;
  float: left;
  width: 30px;
  height: 30px;
}

/* Admin login modal */
.modal-header {
  background-color: #bcb1ac;
  text-align: center;
  font-size: 3rem;
}
.modal-body {
  background-color: #d0c8c4;
}
.modal-footer {
  background-color: #bcb1ac;
}

/* Settings for smaller screens */
@media screen and (max-width:700px) {
  footer {
    text-align: center;
    font-size: .7em;
    position: inline;
  }
  #socialIcons {
    position: relative;
    float:none;
  }
  #socialIcons img {
    width: 15px;
  }
}
