/* Image tag */
#aboutImage1 {
  width: 100%;
  height: auto;
  margin: 10vh 0 5vh -5vw;
}

/* Image tag for smaller screens */
@media screen and (max-width: 800px){
  #aboutImage1{
    margin: auto;
  }
}

/* Paragraph content */
h1 {
  margin-top: 12vh;
  margin-left: 2vw;
  font-size: 110%;
}
