<div class="container-fluid">

  <!-- Main introduction header -->
  <h1 *ngIf="!isAdmin else inputMainHeader" id="mainHeader"></h1>
  <ng-template #inputMainHeader>
    <texteditor [elementId]="'mainHeader'"></texteditor>
    <button (click)="saveMainHeader()">Update</button>
  </ng-template>


  <div class="row">

    <!-- About paragraph, describes shop -->
    <div class="col-sm-7">
      <!-- If not admin, show paragraph -->
      <p *ngIf="!isAdmin else inputAboutParagraph" id="aboutParagraph"></p>
      <!-- If yes admin, show form to update content -->
      <ng-template #inputAboutParagraph>
        <texteditor [elementId]="'aboutParagraph'"></texteditor>
        <button (click)="saveAboutParagraph()">Update</button>
      </ng-template>
    </div>

    <!-- Image of shop -->
    <div class="col-sm-5">
      <!-- If not admin, show image -->
      <img *ngIf="(!isAdmin && image1Src) else inputImage1" [src]="image1Src" [alt]="image1Description">
      <!-- If yes admin, show form to update image -->
      <ng-template #inputImage1>
        <div style="border: 2px solid gray" *ngIf="image1Src">
          <img *ngIf="image1Src" style="width: 100px; height: auto" [src]="image1Src" [alt]="image1Description">
          <hr>
          <input type="file" (change)="detectImage1($event)">
          <input type="text" placeholder="description" id="image1Description" [(ngModel)]="image1Description">
          <br>
          <button (click)="uploadImage1()">Upload this image</button>

          <div *ngIf="uploadingImage1">
            <p>Progress: {{currentUpload?.progress}}% Complete</p>
            <progress class="progress is-success" min=1 max=100 value="{{ currentUpload?.progress }}"></progress>
          </div>

        </div>
      </ng-template>
    </div>

  </div>
  <!-- End of row -->


  <!-- Image2 of shop -->
  <div class="col-sm-5">
    <!-- If not admin, show image -->
    <img *ngIf="(!isAdmin && image2Src) else inputImage2" [src]="image2Src" [alt]="image2Description">
    <!-- If yes admin, show form to update image -->
    <ng-template #inputImage2>
      <div style="border: 2px solid gray" *ngIf="image2Src">
        <img *ngIf="image2Src" style="width: 100px; height: auto" [src]="image2Src" [alt]="image2Description">
        <hr>
        <input type="file" (change)="detectImage2($event)">
        <input type="text" placeholder="description" id="image2Description" [(ngModel)]="image2Description">
        <br>
        <button (click)="uploadImage2()">Upload this image</button>

        <div *ngIf="uploadingImage2">
          <p>Progress: {{currentUpload?.progress}}% Complete</p>
          <progress class="progress is-success" min=1 max=100 value="{{ currentUpload?.progress }}"></progress>
        </div>

      </div>
    </ng-template>
  </div>



  <!-- End of container-fluid -->
</div>
