#aboutImage1 {
  /* border: 1em solid black; */
  /* box-shadow: 1px 1px 15px 1px; */
  width: 100%;
  height: auto;
  margin: 9vh 0 5vh -5vw;
}

h1 {
  /* line-height: 6vh; */
  margin-top: 5vh;
  margin-left: 2vw;
  font-size: 100%;
}
