header[role="banner"] #logo-main {
  display: block;
  margin: 10px auto;
}
#navbar-primary {
  background: transparent;
  padding: 0 2% 0 2%;
  border: none;
}
#navbar-primary.navbar-default .navbar-nav {
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  color:#000;
}
#navbar-primary.navbar-default .navbar-nav > li {
  display: inline-block;
  float: none;
}
#navbar-primary.navbar-default .navbar-nav > li > a {
  padding-left: 0px;
  padding-right: 0px;
}
.navbar-nav{
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(black), to(white));
  background-image: -webkit-linear-gradient(top, white, black, white);
  background-image: -moz-linear-gradient(top, white, black, white);
  /* background-image: linear-gradient(to left, #fff, #86746c, #7b6b63,#504540, #504540,#504540,#7b6b63, #86746c, #fff); */
  background-image: linear-gradient(to left, #fff, #3b2314, #3b2314, #3b2314, #3b2314, #3b2314,#3b2314,#3b2314, #fff);
  height: 60px;
  color: #000;
  white-space: nowrap;
  position: flex;
}
.dropdown:focus{
  border: 20px solid #000;
}

.navvy{
  color:black;
  margin: 0 5px 0 5px;
  text-align: center;
}
nav{
  font-size: 1.6em;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}
#navImg{
  align-content: center;
}
/* .navbar-default .navbar-nav>li>a {
  color: #000;
  margin-top:10px;
} */
/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: #000;
  font-size: 1em;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding-right: 3px;
  margin:3px 20px;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom:1px;
  /* float: left; */
  /* border:5px solid black; */
  /* padding-top:3px; */
  /* padding-bottom: -1px; */
}
.droppydown {

  position: relative;
  /* display: inline-block; */
  margin-left: 50px;
  float: left;
  /* border:3px solid black; */
  padding-bottom: -1px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #3b2314; */
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
  background-image: linear-gradient(to bottom,#3b2314, #bcb1ac);
  /* margin-top:5px; */
  margin-left:4px;
  margin-top:1px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 0 5px 0 5px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: transparent;
}
ul{
  border: none;
}
/* .dropbtn :active{
  border: 3px solid black ;
} */
.pillz{
  color:#000;
  margin: -2%;
  float: none;
  /* background-color:transparent; */
}
.chillz{
  background-image: linear-gradient(to left, #fff, #3b2314, #3b2314, #3b2314, #3b2314, #3b2314,#3b2314,#3b2314, #fff);

}
.nav-pills > .active > a, .nav-pills > .active > a:hover {
  background-color: transparent;
}
.dropdown-menu{
  background-image: linear-gradient(to bottom, #3b2314, #fff);
}
.container{
  display:flex;
}
