<div class="container-fluid" id="desktopNav">
  <header role="banner">
    <!-- <img id="logo-main" src="../../assets/genuineLogo.png" width="400" alt="Ganache Logo" > -->
    <img id="logo-main" *ngIf="(!isAdmin && navbarImage1Src)" width="400" [src]="navbarImage1Src" [alt]="navbarImage1Description">
    <nav id="navbar-primary" class="navbar navbar-default" role="navigation">
      <div class="nav navbar-nav deskyNav">
        <div class="container-fluid" id="selecty">

          <div class="dropdown" id="homeBtn">
            <button class="dropbtn" id="homeBtnLink">Home</button>
          </div>

          <div class="dropdown" id="aboutBtn">
            <button class="dropbtn" id="aboutBtnLink">About</button>
          </div>

          <div class="dropdown" id="chocoBtn">
            <button class="dropbtn" id="chocoBtnLink">Our Chocolates</button>
            <div class="dropdown-content">
              <a id="trufflesBtnLink">Truffles</a>
              <a id="assortedBtnLink">Assorted Chocolates</a>
              <a id="barksBtnLink">Barks</a>
              <a id="fudgeBtnLink">Fudge</a>
              <a id="otherchocBtnLink">Other Chocolates</a>
              <a id="seasonalBtnLink">Seasonal</a>
            </div>
          </div>

          <div class="dropdown" id="shopBtn">
            <button class="dropbtn" id="shopBtnLink">Shop</button>
          </div>

          <div class="dropdown" id="contactBtn">
            <button class="dropbtn" id="contactBtnLink">Contact Us</button>
          </div>

        </div>
      </div>
    </nav>
  </header>
</div>



<nav id="mobileNav" class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button style="float:left;" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <button id="homeBtnLink" style="float:right; margin:5px;"><img id="logo-mobi" *ngIf="(!isAdmin && navbarImage1Src)" width="150" [src]="navbarImage1Src" [alt]="navbarImage1Description"></button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li (click)="mobileNav('/')"><a>Home</a></li>
        <li (click)="mobileNav('/about')"><a>About</a></li>
        <li (click)="mobileNav('/chocolates')"><a>Chocolates</a></li>
        <li (click)="mobileNav('/truffles')"><a>&nbsp;&nbsp;&nbsp;&nbsp;Truffles</a></li>
        <li (click)="mobileNav('/assorted')"><a>&nbsp;&nbsp;&nbsp;&nbsp;Assorted Chocolates</a></li>
        <li (click)="mobileNav('/barks')"><a>&nbsp;&nbsp;&nbsp;&nbsp;Barks</a></li>
        <li (click)="mobileNav('/fudge')"><a>&nbsp;&nbsp;&nbsp;&nbsp;Fudge</a></li>
        <li (click)="mobileNav('/otherchoc')"><a>&nbsp;&nbsp;&nbsp;&nbsp;Other Chocolates</a></li>
        <li (click)="mobileNav('/seasonal')"><a>&nbsp;&nbsp;&nbsp;&nbsp;Seasonal</a></li>
        <li (click)="shopNav()"><a>Shop</a></li>
        <li (click)="mobileNav('/contact')"><a>Contact Us</a></li>

      </ul>
    </div>
  </div>
</nav>


<!-- If yes admin, show form to update image -->
<!-- Image1 upload -->
<div class="col-md-6 imageUploadingForm imageUploadingForm" *ngIf="(isAdmin && navbarImage1Src)">
  <label for="navbarImage1Existing">Existing Image:</label>
  <img *ngIf="navbarImage1Src" id="navbarImage1Existing" style="width: 100px; height: auto" [src]="navbarImage1Src" [alt]="navbarImage1Description">
  <br>
  <br>
  <label for="navbarImage1FileInput">Image to upload:
    <em style="color: red;">*required</em>
  </label>
  <input type="file" id="navbarImage1FileInput" (change)="navbarDetectImage1($event)">
  <p>
    <em>*For proper appearance, image should have a 3:1 aspect ratio.</em>
  </p>
  <br>
  <label for="navbarImage1Description">Description of image:
    <em style="color: red;">*required</em>
  </label>
  <input type="text" id="navbarImage1Description" placeholder="description" [(ngModel)]="navbarImage1Description">
  <br>
  <br>
  <button class="btn btn-md uploadImageButton" (click)="navbarUploadImage1()">Upload this image</button>
  <!-- Progress bar -->
  <div *ngIf="navbarUploadingImage1">
    <br>
    <p>Progress: {{navbarCurrentUpload?.progress}}% Complete</p>
    <progress class="progress is-success" min=1 max=100 value="{{ navbarCurrentUpload?.progress }}"></progress>
  </div>
</div>
