<div class="container-fluid">
  <header role="banner">
    <img id="logo-main" src="../../assets/genuineLogo.jpg" width="400" alt="Ganache Logo" style="align-content: center;">
    <nav id="navbar-primary" class="navbar navbar-default" role="navigation">
      <div class="nav navbar-nav">
        <div class="container-fluid" id="selecty">

          <div class="dropdown" id="homeBtn">
            <button class="dropbtn" id="homeBtnLink" [routerLink]="['/home']">Home</button>
          </div>

          <div class="dropdown" id="aboutBtn">
            <button class="dropbtn" id="aboutBtnLink" [routerLink]="['/about']">About</button>
          </div>

          <div class="dropdown" id="chocoBtn">
            <button class="dropbtn" id="chocoBtnLink" [routerLink]="['/chocolates']">Our Chocolates</button>
            <div class="dropdown-content">
              <a id="trufflesBtnLink" [routerLink]="['/truffles']">Truffles</a>
              <a id="barksBtnLink" [routerLink]="['/barks']">Barks</a>
              <a id="creamsBtnLink" [routerLink]="['/creams']">Creams</a>
              <a id="fudgeBtnLink" [routerLink]="['/fudge']">Fudge</a>
              <a id="seasonalBtnLink" [routerLink]="['/seasonal']">Seasonal</a>
              <a id="otherchocBtnLink" [routerLink]="['/otherchoc']">Other Chocolates</a>
            </div>
          </div>

          <div class="dropdown" id="shopBtn">
            <button class="dropbtn" id="shopBtnLink" [routerLink]="['/shop']">Shop</button>
          </div>

          <div class="dropdown" id="contactBtn">
            <button class="dropbtn" id="contactBtnLink" [routerLink]="['/contact']">Contact Us</button>
          </div>

        </div>
      </div>
    </nav>
  </header>
</div>
