 <div class="container-fluid">
  <div class="row">
    <div class= "col-md-6 col-md-6-offset">
      <div>
        <img src="../../assets/ganachesign.png" alt="Vendor Sign" style="width:40%; height:40%;">
      </div>
    </div>
  </div>
</div>
<nav class="navbar" style="margin:0;">
  <div class="container-fluid col-md-6 col-md-offset-4">
    <!-- <div class="navbar-header">
    </div> -->
    <ul class="nav navbar-nav">
     <!-- <li class="navbar-brand" href="#">Ganache</li> -->
      <li><a href="/home" class="navvy">Home</a></li>
      <li><a href="/about" class="navvy">About</a></li>
    <div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="/chocolates" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Our Chocolates
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/truffles">Gourmet Truffles</a>
    <a class="dropdown-item" href="/creams">Assorted Creams</a>
    <a class="dropdown-item" href="/barks">Barks and Toffee</a>
    <a class="dropdown-item" href="/fudge">Fudge</a>
    <a class="dropdown-item" href="/morechoc">More Chocolates</a>
    <a class="dropdown-item" href="/seasonal">Seasonal Treats</a>
  </div>
</div>
<li><a href="/shop" class="navvy">Shop</a></li>
      <li><a href="/contact" class="navvy">Contact Us</a></li>
      <li *ngIf="isAdmin" (click)="logout()"><a href="" class="navvy">Logout</a></li>
    </ul>
  </div>
</nav> 


