<div class="container-fluid">
  <div class="row">



    <!-- Contact1 paragraph, contains Visit and Consultations content -->
    <div class="col-md-4">

      <!-- If not admin, show paragraph -->
      <h1 *ngIf="!isAdmin else inputContact1Paragraph" id="contact1Paragraph"></h1>

      <!-- If yes admin, show form to update content -->
      <ng-template #inputContact1Paragraph>
        <texteditor [elementId]="'contact1Paragraph'"></texteditor>
        <br>
        <button class="btn btn-md updateTextButton" (click)="saveContact1Paragraph()">Update</button>
        <!-- After successful update, show confirmation -->
        <span class="alert-success updated" *ngIf="contact1ParagraphUpdated">
          <strong>Updated</strong>
          <i class="fa fa-check-circle fa-1x" aria-hidden="true"> </i>
        </span>
      </ng-template>

    </div>
    <!-- End of contact1 paragraph -->



    <!-- Contact2 paragraph, contains submittable form -->
    <div class="col-md-4">

      <!-- If not admin, show paragraph -->
      <h1 *ngIf="!isAdmin else inputContact2Paragraph" id="contact2Paragraph"></h1>
      <!-- If yes admin, show form to update content -->
      <ng-template #inputContact2Paragraph>
        <texteditor [elementId]="'contact2Paragraph'"></texteditor>
        <br>
        <button class="btn btn-md updateTextButton" (click)="saveContact2Paragraph()">Update</button>
        <!-- After successful update, show confirmation -->
        <span class="alert-success updated" *ngIf="contact2ParagraphUpdated">
          <strong>Updated</strong>
          <i class="fa fa-check-circle fa-1x" aria-hidden="true"> </i>
        </span>
      </ng-template>
      <div id="conForm">
      <!-- This is the contact form which forwards through formspree via the action= tag, pointing towards the client's email address -->
      <form action="https://formspree.io/ganachezionsville@gmail.com" method="POST" id="contactForm">
        <label for="name">Name</label>
        <br>
        <input type="text" name="Name" id="name">
        <br>
        <label for="phone">Phone</label>
        <br>
        <input type="num" name="Phone" id="phone">
        <br>
        <label for="email">Email</label>
        <br>
        <input type="email" name="Email">
        <br>
        <label for="comments">Comment/Question</label>
        <br>
        <textarea id="comments" name="Comments"></textarea>
        <br>
        <input type="submit" value="Continue" class="btn btn-primary" id="booton">
      </form>
    </div>
    </div>
    <!-- End of contact1 paragraph -->



    <!-- Contact3 paragraph, contains Hours content and Map (iframe) -->
    <div class="col-md-4">

      <!-- If not admin, show paragraph -->
      <h1 *ngIf="!isAdmin else inputContact3Paragraph" id="contact3Paragraph"></h1>
      <!-- If yes admin, show form to update content -->
      <ng-template #inputContact3Paragraph>
        <texteditor [elementId]="'contact3Paragraph'"></texteditor>
        <br>
        <button class="btn btn-md updateTextButton" (click)="saveContact3Paragraph()">Update</button>
        <!-- After successful update, show confirmation -->
        <span class="alert-success updated" *ngIf="contact3ParagraphUpdated">
          <strong>Updated</strong>
          <i class="fa fa-check-circle fa-1x" aria-hidden="true"> </i>
        </span>
      </ng-template>

      <!-- Displays map (iframe) of shop -->
      <iframe width="65%" height="250" frameborder="0" [src]="contactIframeSrc" allowfullscreen></iframe>
      <div *ngIf="isAdmin">
        <br>
        <label for="contactIframeInput">Source URL of iframe (map):</label>
        <input type="text" id="contactIframeInput" placeholder="description" [(ngModel)]="contactIframeSrcDisplayed">
        <br>
        <button class="btn btn-md updateTextButton" (click)="saveContactIframe()">Update</button>
        <!-- After successful update, show confirmation -->
        <span class="alert-success updated" *ngIf="contactIframeUpdated">
          <strong>Updated</strong>
          <i class="fa fa-check-circle fa-1x" aria-hidden="true"> </i>
        </span>
      </div>

    </div>
    <!-- End of column containing Hours and Map (iframe) -->



  </div>
  <!-- End of row -->
</div>
<!-- End of container-fluid -->
