#assortedImg {
  /* border: 1em solid black; */
  margin: 5vh 3vw 5vh 2em;
  overflow: hidden;
}

img {
  width: 100%;
}

#assortedPara{
  line-height: 7vh;
  margin-top: 20vh;
  margin-right: 3vw;
}

h1 {
  line-height: 7vh;
  margin: 15vh 2em 5vh 3vw;
  font-size: 100%;
}

body {
  font-size: .5rem;
  background: #0b0c0a;
  margin: 0;
}

.container {
  margin: 30px;
}

.whiteRow {
  border: white solid 2px;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: stretch;
  align-content: stretch;
  margin: auto;
}

div p {
  line-height: .9em;
}

.noBorder {
  width: 16%;
  height: auto;
  margin-bottom: 5px;
  /* border:1px solid #effffe; */
  text-align: center;
  font-size: .8em;
}

.cropper {
  width: 100%;
  height: 100%;
  /* border:1px solid #effffe; */
}

.cropper img {
  width: 100%;
  transition: transform .6s ease .1s;
  -webkit-transition: -webkit-transform .6s ease .1s;
}

.cropper:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transition: transform .4s ease;
}

.showme {
  display: none;
  background-color: #fff;
}

.showhim:hover .showme {
  display: inline-block;
}

.showhim:hover {
  border: black solid 1px;
  background-color: white;
}
