<div class="container clip-wrap">
  <div class="row col-xs-12 col-md-9 offset-md-3 clip-each border-style-thin">
    <h1>Ganache Chocolatier Truffle Card</h1>
    <div class="flex">

      <div class="noBorder" *ngIf="trufflesImage1Src && (trufflesImage1Title.toLowerCase() !== 'na')">
        <div class="cropper showhim">
          <img [src]="trufflesImage1Src" [alt]="trufflesImage1Title">
          <p [innerText]="trufflesImage1Title"></p>
          <div class="showme">
            <p [innerText]="trufflesImage1Description"></p>
            <a [href]="trufflesImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>
      <div class="noBorder" *ngIf="trufflesImage1Src && (trufflesImage1Title.toLowerCase() !== 'na')">
        <div class="cropper showhim">
          <img [src]="trufflesImage1Src" [alt]="trufflesImage1Title">
          <p [innerText]="trufflesImage1Title"></p>
          <div class="showme">
            <p [innerText]="trufflesImage1Description"></p>
            <a [href]="trufflesImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>
      <div class="noBorder" *ngIf="trufflesImage1Src && (trufflesImage1Title.toLowerCase() !== 'na')">
        <div class="cropper showhim">
          <img [src]="trufflesImage1Src" [alt]="trufflesImage1Title">
          <p [innerText]="trufflesImage1Title"></p>
          <div class="showme">
            <p [innerText]="trufflesImage1Description"></p>
            <a [href]="trufflesImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>
      <div class="noBorder" *ngIf="trufflesImage1Src && (trufflesImage1Title.toLowerCase() !== 'na')">
        <div class="cropper showhim">
          <img [src]="trufflesImage1Src" [alt]="trufflesImage1Title">
          <p [innerText]="trufflesImage1Title"></p>
          <div class="showme">
            <p [innerText]="trufflesImage1Description"></p>
            <a [href]="trufflesImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>
      <div class="noBorder" *ngIf="trufflesImage1Src && (trufflesImage1Title.toLowerCase() !== 'na')">
        <div class="cropper showhim">
          <img [src]="trufflesImage1Src" [alt]="trufflesImage1Title">
          <p [innerText]="trufflesImage1Title"></p>
          <div class="showme">
            <p [innerText]="trufflesImage1Description"></p>
            <a [href]="trufflesImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>
      <div class="noBorder" *ngIf="trufflesImage1Src && (trufflesImage1Title.toLowerCase() !== 'na')">
        <div class="cropper showhim">
          <img [src]="trufflesImage1Src" [alt]="trufflesImage1Title">
          <p [innerText]="trufflesImage1Title"></p>
          <div class="showme">
            <p [innerText]="trufflesImage1Description"></p>
            <a [href]="trufflesImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>
      <div class="noBorder" *ngIf="trufflesImage1Src && (trufflesImage1Title.toLowerCase() !== 'na')">
        <div class="cropper showhim">
          <img [src]="trufflesImage1Src" [alt]="trufflesImage1Title">
          <p [innerText]="trufflesImage1Title"></p>
          <div class="showme">
            <p [innerText]="trufflesImage1Description"></p>
            <a [href]="trufflesImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>
      <div class="noBorder" *ngIf="trufflesImage1Src && (trufflesImage1Title.toLowerCase() !== 'na')">
        <div class="cropper showhim">
          <img [src]="trufflesImage1Src" [alt]="trufflesImage1Title">
          <p [innerText]="trufflesImage1Title"></p>
          <div class="showme">
            <p [innerText]="trufflesImage1Description"></p>
            <a [href]="trufflesImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>
      <div class="noBorder" *ngIf="trufflesImage1Src && (trufflesImage1Title.toLowerCase() !== 'na')">
        <div class="cropper showhim">
          <img [src]="trufflesImage1Src" [alt]="trufflesImage1Title">
          <p [innerText]="trufflesImage1Title"></p>
          <div class="showme">
            <p [innerText]="trufflesImage1Description"></p>
            <a [href]="trufflesImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>
      <div class="noBorder" *ngIf="trufflesImage1Src && (trufflesImage1Title.toLowerCase() !== 'na')">
        <div class="cropper showhim">
          <img [src]="trufflesImage1Src" [alt]="trufflesImage1Title">
          <p [innerText]="trufflesImage1Title"></p>
          <div class="showme">
            <p [innerText]="trufflesImage1Description"></p>
            <a [href]="trufflesImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>
      <div class="noBorder" *ngIf="trufflesImage1Src && (trufflesImage1Title.toLowerCase() !== 'na')">
        <div class="cropper showhim">
          <img [src]="trufflesImage1Src" [alt]="trufflesImage1Title">
          <p [innerText]="trufflesImage1Title"></p>
          <div class="showme">
            <p [innerText]="trufflesImage1Description"></p>
            <a [href]="trufflesImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>
      <div class="noBorder" *ngIf="trufflesImage1Src && (trufflesImage1Title.toLowerCase() !== 'na')">
        <div class="cropper showhim">
          <img [src]="trufflesImage1Src" [alt]="trufflesImage1Title">
          <p [innerText]="trufflesImage1Title"></p>
          <div class="showme">
            <p [innerText]="trufflesImage1Description"></p>
            <a [href]="trufflesImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>
      <div class="noBorder" *ngIf="trufflesImage1Src && (trufflesImage1Title.toLowerCase() !== 'na')">
        <div class="cropper showhim">
          <img [src]="trufflesImage1Src" [alt]="trufflesImage1Title">
          <p [innerText]="trufflesImage1Title"></p>
          <div class="showme">
            <p [innerText]="trufflesImage1Description"></p>
            <a [href]="trufflesImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>
      <div class="noBorder" *ngIf="trufflesImage1Src && (trufflesImage1Title.toLowerCase() !== 'na')">
        <div class="cropper showhim">
          <img [src]="trufflesImage1Src" [alt]="trufflesImage1Title">
          <p [innerText]="trufflesImage1Title"></p>
          <div class="showme">
            <p [innerText]="trufflesImage1Description"></p>
            <a [href]="trufflesImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>
      <div class="noBorder" *ngIf="trufflesImage1Src && (trufflesImage1Title.toLowerCase() !== 'na')">
        <div class="cropper showhim">
          <img [src]="trufflesImage1Src" [alt]="trufflesImage1Title">
          <p [innerText]="trufflesImage1Title"></p>
          <div class="showme">
            <p [innerText]="trufflesImage1Description"></p>
            <a [href]="trufflesImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>
      <div class="noBorder" *ngIf="trufflesImage1Src && (trufflesImage1Title.toLowerCase() !== 'na')">
        <div class="cropper showhim">
          <img [src]="trufflesImage1Src" [alt]="trufflesImage1Title">
          <p [innerText]="trufflesImage1Title"></p>
          <div class="showme">
            <p [innerText]="trufflesImage1Description"></p>
            <a [href]="trufflesImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>
      <div class="noBorder" *ngIf="trufflesImage1Src && (trufflesImage1Title.toLowerCase() !== 'na')">
        <div class="cropper showhim">
          <img [src]="trufflesImage1Src" [alt]="trufflesImage1Title">
          <p [innerText]="trufflesImage1Title"></p>
          <div class="showme">
            <p [innerText]="trufflesImage1Description"></p>
            <a [href]="trufflesImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>
      <div class="noBorder" *ngIf="trufflesImage1Src && (trufflesImage1Title.toLowerCase() !== 'na')">
        <div class="cropper showhim">
          <img [src]="trufflesImage1Src" [alt]="trufflesImage1Title">
          <p [innerText]="trufflesImage1Title"></p>
          <div class="showme">
            <p [innerText]="trufflesImage1Description"></p>
            <a [href]="trufflesImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>
      <div class="noBorder" *ngIf="trufflesImage1Src && (trufflesImage1Title.toLowerCase() !== 'na')">
        <div class="cropper showhim">
          <img [src]="trufflesImage1Src" [alt]="trufflesImage1Title">
          <p [innerText]="trufflesImage1Title"></p>
          <div class="showme">
            <p [innerText]="trufflesImage1Description"></p>
            <a [href]="trufflesImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>
      <div class="noBorder" *ngIf="trufflesImage1Src && (trufflesImage1Title.toLowerCase() !== 'na')">
        <div class="cropper showhim">
          <img [src]="trufflesImage1Src" [alt]="trufflesImage1Title">
          <p [innerText]="trufflesImage1Title"></p>
          <div class="showme">
            <p [innerText]="trufflesImage1Description"></p>
            <a [href]="trufflesImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>
      <div class="noBorder" *ngIf="trufflesImage1Src && (trufflesImage1Title.toLowerCase() !== 'na')">
        <div class="cropper showhim">
          <img [src]="trufflesImage1Src" [alt]="trufflesImage1Title">
          <p [innerText]="trufflesImage1Title"></p>
          <div class="showme">
            <p [innerText]="trufflesImage1Description"></p>
            <a [href]="trufflesImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>
      <div class="noBorder" *ngIf="trufflesImage1Src && (trufflesImage1Title.toLowerCase() !== 'na')">
        <div class="cropper showhim">
          <img [src]="trufflesImage1Src" [alt]="trufflesImage1Title">
          <p [innerText]="trufflesImage1Title"></p>
          <div class="showme">
            <p [innerText]="trufflesImage1Description"></p>
            <a [href]="trufflesImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>
      <div class="noBorder" *ngIf="trufflesImage1Src && (trufflesImage1Title.toLowerCase() !== 'na')">
        <div class="cropper showhim">
          <img [src]="trufflesImage1Src" [alt]="trufflesImage1Title">
          <p [innerText]="trufflesImage1Title"></p>
          <div class="showme">
            <p [innerText]="trufflesImage1Description"></p>
            <a [href]="trufflesImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>
      <div class="noBorder" *ngIf="trufflesImage1Src && (trufflesImage1Title.toLowerCase() !== 'na')">
        <div class="cropper showhim">
          <img [src]="trufflesImage1Src" [alt]="trufflesImage1Title">
          <p [innerText]="trufflesImage1Title"></p>
          <div class="showme">
            <p [innerText]="trufflesImage1Description"></p>
            <a [href]="trufflesImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
