<div class="container-fluid">

    <!-- Main introduction header -->
    <h1 *ngIf="!isAdmin else inputMainHeader" id="mainHeader"></h1>
    <ng-template #inputMainHeader>
      <texteditor [elementId]="'mainHeader'"></texteditor>
      <button (click)="saveMainHeader()">Update</button>
    </ng-template>


    <div class="row">
      <!-- Image of shop -->
      <div class="col-sm-7">
          <!-- If not admin, show image -->
          <img *ngIf="(!isAdmin && image1Src) else inputImage1" [src]="image1Src" [alt]="image1Description">
          <!-- If yes admin, show form to update image -->
          <ng-template #inputImage1>
            <div style="border: 2px solid gray" *ngIf="image1Src">
              <img *ngIf="image1Src" style="width: 100px; height: auto" [src]="image1Src" [alt]="image1Description">
              <hr>
              <input type="file" (change)="detectImage1($event)">
              <input type="text" placeholder="description" id="image1Description" [(ngModel)]="image1Description">
              <br>
              <button (click)="uploadImage1()">Upload this image</button>
            </div>
          </ng-template>
        </div>

      <!-- Truffles paragraph, describes truffles -->
      <div class="col-sm-5">
        <!-- If not admin, show paragraph -->
        <p *ngIf="!isAdmin else inputTrufflesParagraph" id="trufflesParagraph"></p>
        <!-- If yes admin, show form to update content -->
        <ng-template #inputTrufflesParagraph>
          <texteditor [elementId]="'trufflesParagraph'"></texteditor>
          <button (click)="saveTrufflesParagraph()">Update</button>
        </ng-template>
      </div>
</div>


  <!-- End of container-fluid -->
</div>


<!-- <p *ngIf="isAdmin">
  Is Admin!
</p>
<div class="row">
  <div class="col-md-6"> -->
  <!-- truffle id cards go here -->
  <!-- </div>

  <div class="col-md-6">
    <h1><strong><p class="text-center">Gourmet Truffles</p></strong></h1>
    <div>
        <ul *ngIf="!this.admin else otherTmpl">
          <li>
          <p>At Ganache Chocolatier, truffles are really our specialty.
            It is what inspired the name of our shop!
            Each truffle has a center of ganache, a mixture of chocolate and cream, with a carefully decorated outer shell that indicates each flavor.
            We offer 13 different regular truffles, 6 liqueur truffles, 12 mini truffles, and 2 mini liqueur truffles.
            We even offer a small selectional of seasonal truffles.
            Click on our Truffle ID Card for more information on each of the truffles.</p>
          </li>
        </ul>
    </div>
    <ng-template #otherTmpl>
        <textarea name="chocolates" id="" cols="30" rows="10"></textarea>
        <button>Update</button>
    </ng-template>
  </div>
</div> -->
