#truffleImgs {
  border: 1em solid black;
  margin: 5vh 3vw 5vh -1vw;
  overflow: hidden;
}
img {
  width: 100%;
}
#trufflePara{
  line-height: 7vh;
  margin-top: 20vh;
  font-size: 15px;
  margin-left: 3vw;
}
