<div class="container-fluid">



  <!-- Fudge paragraph, describes fudge -->
  <div class="row">
    <div class="col-sm-6">
      <!-- If not admin, show paragraph -->
      <h1 *ngIf="!isAdmin else inputFudgeParagraph" id="fudgeParagraph"></h1>
      <!-- If yes admin, show form to update content -->
      <ng-template #inputFudgeParagraph>
        <texteditor [elementId]="'fudgeParagraph'"></texteditor>
        <button (click)="saveFudgeParagraph()">Update</button>
        <!-- After successful update, show confirmation -->
        <span class="alert-success updated" *ngIf="fudgeParagraphUpdated">
            <strong>Updated</strong> <i class="fa fa-check-circle fa-1x" aria-hidden="true"> </i>
          </span>
      </ng-template>
    </div>
    <!-- End of fudge paragraph-->

    <!-- Image slider -->
    <div class="col-sm-6" id="fudgeSlider">
      <figure>
        <img *ngIf="fudgeImage1Src && (fudgeImage1Link.toLowerCase() == 'na')" [src]="fudgeImage1Src" [alt]="fudgeImage1Description">
        <a *ngIf="fudgeImage1Src && (fudgeImage1Link.toLowerCase() !== 'na')" [href]="fudgeImage1Link"><img [src]="fudgeImage1Src" [alt]="fudgeImage1Description"></a>

        <img *ngIf="fudgeImage2Src && (fudgeImage2Link.toLowerCase() == 'na')" [src]="fudgeImage2Src" [alt]="fudgeImage2Description">
        <a *ngIf="fudgeImage2Src && (fudgeImage2Link.toLowerCase() !== 'na')" [href]="fudgeImage2Link"><img [src]="fudgeImage2Src" [alt]="fudgeImage2Description"></a>

        <img *ngIf="fudgeImage3Src && (fudgeImage3Link.toLowerCase() == 'na')" [src]="fudgeImage3Src" [alt]="fudgeImage3Description">
        <a *ngIf="fudgeImage3Src && (fudgeImage3Link.toLowerCase() !== 'na')" [href]="fudgeImage3Link"><img [src]="fudgeImage3Src" [alt]="fudgeImage3Description"></a>

        <img *ngIf="fudgeImage4Src && (fudgeImage4Link.toLowerCase() == 'na')" [src]="fudgeImage4Src" [alt]="fudgeImage4Description">
        <a *ngIf="fudgeImage4Src && (fudgeImage4Link.toLowerCase() !== 'na')" [href]="fudgeImage4Link"><img [src]="fudgeImage4Src" [alt]="fudgeImage4Description"></a>

        <img *ngIf="fudgeImage5Src && (fudgeImage5Link.toLowerCase() == 'na')" [src]="fudgeImage5Src" [alt]="fudgeImage5Description">
        <a *ngIf="fudgeImage5Src && (fudgeImage5Link.toLowerCase() !== 'na')" [href]="fudgeImage5Link"><img [src]="fudgeImage5Src" [alt]="fudgeImage5Description"></a>

        <img *ngIf="fudgeImage1Src && (fudgeImage1Link.toLowerCase() == 'na')" [src]="fudgeImage1Src" [alt]="fudgeImage1Description">
        <a *ngIf="fudgeImage1Src && (fudgeImage1Link.toLowerCase() !== 'na')" [href]="fudgeImage1Link"><img [src]="fudgeImage1Src" [alt]="fudgeImage1Description"></a>
      </figure>
    </div>
  </div>
  <!-- End of row for image slider -->



  <!-- If yes admin, show form to update image -->
  <div *ngIf="isAdmin">

    <!-- Image 1 and 2 update form -->
    <div class="row">

      <!-- Image1 upload -->
      <div class="col-md-6 imageUploadingForm imageUploadingForm" *ngIf="fudgeImage1Src">
        <label for="fudgeImage1Existing">Existing Image:</label>
        <img *ngIf="fudgeImage1Src" id="fudgeImage1Existing" style="width: 100px; height: auto" [src]="fudgeImage1Src" [alt]="fudgeImage1Description">
        <br>
        <br>
        <label for="fudgeImage1FileInput">Image to upload: <em style="color: red;">*required</em></label>
        <input type="file" id="fudgeImage1FileInput" (change)="fudgeDetectImage1($event)">
        <p><em>*For proper appearance, image should have a 1:1 aspect ratio.</em></p>
        <br>
        <label for="fudgeImage1Description">Description of image: <em style="color: red;">*required</em></label>
        <input type="text" id="fudgeImage1Description" placeholder="description" [(ngModel)]="fudgeImage1Description">
        <br>
        <br>
        <label for="fudgeImage1Link">Link: <em style="color: gray">*optional</em></label>
        <input type="text" id="fudgeImage1Link" placeholder="Enter &#34;NA&#34; for no link" [(ngModel)]="fudgeImage1Link">
        <br>
        <br>
        <button class="btn btn-md uploadImageButton" (click)="fudgeUploadImage1()">Upload this image</button>
        <!-- Progress bar -->
        <div *ngIf="fudgeUploadingImage1">
          <br>
          <p>Progress: {{fudgeCurrentUpload?.progress}}% Complete</p>
          <progress class="progress is-success" min=1 max=100 value="{{ fudgeCurrentUpload?.progress }}"></progress>
        </div>
      </div>

      <!-- Image2 upload -->
      <div class="col-md-6 imageUploadingForm imageUploadingForm" *ngIf="fudgeImage2Src">
        <label for="fudgeImage2Existing">Existing Image:</label>
        <img *ngIf="fudgeImage2Src" id="fudgeImage2Existing" style="width: 100px; height: auto" [src]="fudgeImage2Src" [alt]="fudgeImage2Description">
        <br>
        <br>
        <label for="fudgeImage2FileInput">Image to upload: <em style="color: red;">*required</em></label>
        <input type="file" id="fudgeImage2FileInput" (change)="fudgeDetectImage2($event)">
        <p><em>*For proper appearance, image should have a 1:1 aspect ratio.</em></p>
        <br>
        <label for="fudgeImage2Description">Description of image: <em style="color: red;">*required</em></label>
        <input type="text" id="fudgeImage2Description" placeholder="description" [(ngModel)]="fudgeImage2Description">
        <br>
        <br>
        <label for="fudgeImage2Link">Link: <em style="color: gray">*optional</em></label>
        <input type="text" id="fudgeImage2Link" placeholder="Enter &#34;NA&#34; for no link" [(ngModel)]="fudgeImage2Link">
        <br>
        <br>
        <button class="btn btn-md uploadImageButton" (click)="fudgeUploadImage2()">Upload this image</button>
        <!-- Progress bar -->
        <div *ngIf="fudgeUploadingImage2">
          <br>
          <p>Progress: {{fudgeCurrentUpload?.progress}}% Complete</p>
          <progress class="progress is-success" min=1 max=100 value="{{ fudgeCurrentUpload?.progress }}"></progress>
        </div>
      </div>

    </div>
    <!-- End of row for updating images 1 and 2 -->



    <!-- Image 3 and 4 update form -->
    <div class="row">

      <!-- Image3 upload -->
      <div class="col-md-6 imageUploadingForm imageUploadingForm" *ngIf="fudgeImage3Src">
        <label for="fudgeImage3Existing">Existing Image:</label>
        <img *ngIf="fudgeImage3Src" id="fudgeImage3Existing" style="width: 100px; height: auto" [src]="fudgeImage3Src" [alt]="fudgeImage3Description">
        <br>
        <br>
        <label for="fudgeImage3FileInput">Image to upload: <em style="color: red;">*required</em></label>
        <input type="file" id="fudgeImage3FileInput" (change)="fudgeDetectImage3($event)">
        <p><em>*For proper appearance, image should have a 1:1 aspect ratio.</em></p>
        <br>
        <label for="fudgeImage3Description">Description of image: <em style="color: red;">*required</em></label>
        <input type="text" id="fudgeImage3Description" placeholder="description" [(ngModel)]="fudgeImage3Description">
        <br>
        <br>
        <label for="fudgeImage3Link">Link: <em style="color: gray">*optional</em></label>
        <input type="text" id="fudgeImage3Link" placeholder="Enter &#34;NA&#34; for no link" [(ngModel)]="fudgeImage3Link">
        <br>
        <br>
        <button class="btn btn-md uploadImageButton" (click)="fudgeUploadImage3()">Upload this image</button>
        <!-- Progress bar -->
        <div *ngIf="fudgeUploadingImage3">
          <br>
          <p>Progress: {{fudgeCurrentUpload?.progress}}% Complete</p>
          <progress class="progress is-success" min=1 max=100 value="{{ fudgeCurrentUpload?.progress }}"></progress>
        </div>
      </div>

      <!-- Image4 upload -->
      <div class="col-md-6 imageUploadingForm imageUploadingForm" *ngIf="fudgeImage4Src">
        <label for="fudgeImage4Existing">Existing Image:</label>
        <img *ngIf="fudgeImage4Src" id="fudgeImage4Existing" style="width: 100px; height: auto" [src]="fudgeImage4Src" [alt]="fudgeImage4Description">
        <br>
        <br>
        <label for="fudgeImage4FileInput">Image to upload: <em style="color: red;">*required</em></label>
        <input type="file" id="fudgeImage4FileInput" (change)="fudgeDetectImage4($event)">
        <p><em>*For proper appearance, image should have a 1:1 aspect ratio.</em></p>
        <br>
        <label for="fudgeImage4Description">Description of image: <em style="color: red;">*required</em></label>
        <input type="text" id="fudgeImage4Description" placeholder="description" [(ngModel)]="fudgeImage4Description">
        <br>
        <br>
        <label for="fudgeImage4Link">Link: <em style="color: gray">*optional</em></label>
        <input type="text" id="fudgeImage4Link" placeholder="Enter &#34;NA&#34; for no link" [(ngModel)]="fudgeImage4Link">
        <br>
        <br>
        <button class="btn btn-md uploadImageButton" (click)="fudgeUploadImage4()">Upload this image</button>
        <!-- Progress bar -->
        <div *ngIf="fudgeUploadingImage4">
          <br>
          <p>Progress: {{fudgeCurrentUpload?.progress}}% Complete</p>
          <progress class="progress is-success" min=1 max=100 value="{{ fudgeCurrentUpload?.progress }}"></progress>
        </div>
      </div>

    </div>
    <!-- End of row for updating images 3 and 4 -->



    <!-- Image 5 and (null) update form -->
    <div class="row">

      <!-- Image5 upload -->
      <div class="col-md-6 imageUploadingForm imageUploadingForm" *ngIf="fudgeImage5Src">
        <label for="fudgeImage5Existing">Existing Image:</label>
        <img *ngIf="fudgeImage5Src" id="fudgeImage5Existing" style="width: 100px; height: auto" [src]="fudgeImage5Src" [alt]="fudgeImage5Description">
        <br>
        <br>
        <label for="fudgeImage5FileInput">Image to upload: <em style="color: red;">*required</em></label>
        <input type="file" id="fudgeImage5FileInput" (change)="fudgeDetectImage5($event)">
        <p><em>*For proper appearance, image should have a 1:1 aspect ratio.</em></p>
        <br>
        <label for="fudgeImage5Description">Description of image: <em style="color: red;">*required</em></label>
        <input type="text" id="fudgeImage5Description" placeholder="description" [(ngModel)]="fudgeImage5Description">
        <br>
        <br>
        <label for="fudgeImage5Link">Link: <em style="color: gray">*optional</em></label>
        <input type="text" id="fudgeImage5Link" placeholder="Enter &#34;NA&#34; for no link" [(ngModel)]="fudgeImage5Link">
        <br>
        <br>
        <button class="btn btn-md uploadImageButton" (click)="fudgeUploadImage5()">Upload this image</button>
        <!-- Progress bar -->
        <div *ngIf="fudgeUploadingImage5">
          <br>
          <p>Progress: {{fudgeCurrentUpload?.progress}}% Complete</p>
          <progress class="progress is-success" min=1 max=100 value="{{ fudgeCurrentUpload?.progress }}"></progress>
        </div>
      </div>

    </div>
    <!-- End of row for updating images 5 and (null) -->


  </div>
  <!-- End of admin-only image -->

</div>
<!-- End of container-fluid -->
