<div class="container-fluid">
    <!-- Main introduction header -->
    <p *ngIf="!isAdmin else inputMainHeader" id="mainHeader"></p>
    <ng-template #inputMainHeader>
      <texteditor [elementId]="'mainHeader'"></texteditor>
      <button (click)="saveMainHeader()">Update</button>
    </ng-template>

  <div id="chocSlider">
    <figure>
      <img src="../../assets/chainsign.png" alt="Happy people with cats">
      <img src="../../assets/ganachetest.png" alt="Happy people with cats">
      <img src="../../assets/gahnash.jpg" alt="Happy people with cats">
      <img src="../../assets/sampleChocolate.png" alt="Happy people with cats">
      <img src="../../assets/chainsign.png" alt="Happy people with cats">
    </figure>
  </div>

  <div class="col-md-4" id="selection">
    <ul *ngIf="!this.admin else otherTmpl">
      <li><a href="/truffles">Gourmet Truffles</a></li>
      <li><a href="/creams">Assorted Creams</a></li>
      <li><a href="/barks">Barks and Toffee</a></li>
      <li><a href="/fudge">Fudge</a></li>
      <li><a href="/morechoc">More Chocolates</a></li>
      <li><a href="/seasonal">Seasonal Treats</a></li>
    </ul>
  </div>

  <ng-template #item let-item let-i="index">

    <div class="items">
      <img src="{{ item.name }}">
      <ng-template #otherTmpl>
        <textarea name="chocolates" id="" cols="30" rows="10"></textarea>
        <button>Update</button>
      </ng-template>
      <!-- <a href="/#/update" class="btn contact">Update My Profile</a> -->
    </div>
  </ng-template>
