#carousel {
  width: 60%;
  background: white;
  float: left;
  position: relative;
}

.items {
  width: 300px;
  background: white;
}

#left, #right {
  margin: 20px;
}

#selection {
  width: 30%;
  position: relative;
  float: right;
}

p {
  text-indent: 25px;
  font-size: 150%;
}
