<!-- <div class="container-fluid">
<p>
  shop works!
</p>

<div id="my-store-12317153"></div>
<div>
<script type="text/javascript" src="https://app.ecwid.com/script.js?12317153&data_platform=code&data_date=2017-10-02" charset="utf-8"></script><script type="text/javascript"> xProductBrowser("categoriesPerRow=3","views=grid(20,3) list(60) table(60)","categoryView=grid","searchView=list","id=my-store-12317153");</script>
</div>

<div id="my-cart-12317153"></div>
<div>
<script type="text/javascript" src="https://app.ecwid.com/script.js?12317153&data_platform=code&data_date=2017-10-02" charset="utf-8"></script> -->
<!-- remove layout parameter if you want to position minicart yourself -->
<!-- <script type="text/javascript"> xMinicart("layout=attachToCategories", "id=my-cart-12317153"); </script>
</div>
<div id="my-categories-12317153"></div>
<div>
<script type="text/javascript" src="https://app.ecwid.com/script.js?12317153&data_platform=code&data_date=2017-10-02" charset="utf-8"></script>
<script type="text/javascript"> xCategoriesV2("id=my-categories-12317153"); </script>
</div>

<p *ngIf="isAdmin">Is admin!!!</p>
</div> -->
<div class="container">
  <div class="row col-xs-12 col-md-9 offset-md-3">
    <h1>Ganache Chocolatier Truffle Card</h1>
    <div class="flex">
      <div class="noBorder">
        <div class="cropper showhim">
          <img src="../../assets/caramelTruffle.jpg" />
          <p>Caramel</p>
          <!-- <img *ngIf="homeImage1Src && (homeImage1Link.toLowerCase() == 'na')" [src]="../../assets/caramelTruffle.jpg" [alt]="truffleImage1Description"> -->
          <div class="showme">Extended Description Of This Truffle
            <a type="button" href="/home" class="showme"> Click to Buy </a>
          </div>
        </div>
      </div>
      <div class="noBorder">
        <div class="cropper showhim">
          <img src="../../assets/chiliTruffle.jpg" /> Chili
          <div class="showme">Extended Description Of This Truffle
          </div>
          <button type="button" class="showme"> Click to Buy </button>
        </div>
      </div>
      <div class="noBorder">
        <div class="cropper showhim">
          <img src="../../assets/coconutTruffle.jpg" /> Coconut
          <div class="showme">Extended Description Of This Truffle
          </div>
          <button type="button" class="showme"> Click to Buy </button>
        </div>
      </div>
      <div class="noBorder">
        <div class="cropper showhim">
          <img src="../../assets/darkTruffle.jpg" /> Dark
          <div class="showme">Extended Description Of This Truffle
          </div>
          <button type="button" class="showme"> Click to Buy </button>
        </div>
      </div>
      <div class="noBorder">
        <div class="cropper showhim">
          <img src="../../assets/hazelnutTruffle.jpg" /> Hazelnut
          <div class="showme">Extended Description Of This Truffle
          </div>
          <button type="button" class="showme"> Click to Buy </button>
        </div>
      </div>
      <div class="noBorder">
        <div class="cropper showhim">
          <img src="../../assets/keyLimeTruffle.jpg" /> Key Lime
          <div class="showme">Extended Description Of This Truffle
          </div>
          <button type="button" class="showme"> Click to Buy </button>
        </div>
      </div>
      <div class="noBorder">
        <div class="cropper showhim">
          <img src="../../assets/milkTruffle.jpg" /> Milk
          <div class="showme">Extended Description Of This Truffle
          </div>
          <button type="button" class="showme"> Click to Buy </button>
        </div>
      </div>
      <div class="noBorder">
        <div class="cropper showhim">
          <img src="../../assets/mintTruffle.jpg" /> Mint
          <div class="showme">Extended Description Of This Truffle
          </div>
          <button type="button" class="showme"> Click to Buy </button>
        </div>
      </div>
      <div class="noBorder">
        <div class="cropper showhim">
          <img src="../../assets/mochaTruffle.jpg" />Mocha
          <div class="showme">Extended Description Of This Truffle
          </div>
          <button type="button" class="showme"> Click to Buy </button>
        </div>
      </div>
      <div class="noBorder">
        <div class="cropper showhim">
          <img src="../../assets/orangeTruffle.jpg" /> Orange
          <div class="showme">Extended Description Of This Truffle
          </div>
          <button type="button" class="showme"> Click to Buy </button>
        </div>
      </div>
      <div class="noBorder">
        <div class="cropper showhim">
          <img src="../../assets/peanutButterTruffle.jpg" /> Peanut Butter
          <div class="showme">Extended Description Of This Truffle
          </div>
          <button type="button" class="showme"> Click to Buy </button>
        </div>
      </div>
      <div class="noBorder">
        <div class="cropper showhim">
          <img src="../../assets/raspberryTruffle.jpg" /> Raspberry
          <div class="showme">Extended Description Of This Truffle
          </div>
          <button type="button" class="showme"> Click to Buy </button>
        </div>
      </div>


    </div>
  </div>
</div>
