<!-- <div class="container-fluid">
<p>
  shop works!
</p>

<div id="my-store-12317153"></div>
<div>
<script type="text/javascript" src="https://app.ecwid.com/script.js?12317153&data_platform=code&data_date=2017-10-02" charset="utf-8"></script><script type="text/javascript"> xProductBrowser("categoriesPerRow=3","views=grid(20,3) list(60) table(60)","categoryView=grid","searchView=list","id=my-store-12317153");</script>
</div>

<div id="my-cart-12317153"></div>
<div>
<script type="text/javascript" src="https://app.ecwid.com/script.js?12317153&data_platform=code&data_date=2017-10-02" charset="utf-8"></script> -->
<!-- remove layout parameter if you want to position minicart yourself -->
<!-- <script type="text/javascript"> xMinicart("layout=attachToCategories", "id=my-cart-12317153"); </script>
</div>
<div id="my-categories-12317153"></div>
<div>
<script type="text/javascript" src="https://app.ecwid.com/script.js?12317153&data_platform=code&data_date=2017-10-02" charset="utf-8"></script>
<script type="text/javascript"> xCategoriesV2("id=my-categories-12317153"); </script>
</div>

<p *ngIf="isAdmin">Is admin!!!</p>
</div> -->
<div class="container clip-wrap">
  <div class="row col-xs-12 col-md-9 offset-md-3 clip-each border-style-thin">
    <h1>Ganache Chocolatier Truffle Card</h1>
    <div class="flex">
      <div class="noBorder">
        <div class="cropper showhim">
          <img src="../../assets/caramelTruffle.jpg" />
          <p>Caramel</p>
          <img *ngIf="truffleImage1Src && (truffleImage1Link.toLowerCase() == 'na')" src="../../assets/caramelTruffle.jpg" [alt]="truffleImage1Description">
          <div class="showme">Extended Description Of This Truffle
            <a *ngIf="truffleImage1Src && (truffleImage1Link.toLowerCase() !== 'na')" [href]="truffleImage1Link">
              Click to Buy
            </a>
          </div>
        </div>
      </div>
      <div class="noBorder">
        <div class="cropper showhim">
          <img src="../../assets/chiliTruffle.jpg" />
          <p>Chili</p>
          <div class="showme">Extended Description Of This Truffle
          </div>
          <button type="button" class="showme"> Click to Buy </button>
        </div>
      </div>
      <div class="noBorder">
        <div class="cropper showhim">
          <img src="../../assets/coconutTruffle.jpg" />
          <p>Coconut</p>
          <div class="showme">Extended Description Of This Truffle
          </div>
          <button type="button" class="showme"> Click to Buy </button>
        </div>
      </div>
      <div class="noBorder">
        <div class="cropper showhim">
          <img src="../../assets/darkTruffle.jpg" />
          <p>Dark</p>
          <div class="showme">Extended Description Of This Truffle
          </div>
          <button type="button" class="showme"> Click to Buy </button>
        </div>
      </div>
      <div class="noBorder">
        <div class="cropper showhim">
          <img src="../../assets/hazelnutTruffle.jpg" />
          <p>Hazelnut</p>
          <div class="showme">Extended Description Of This Truffle
          </div>
          <button type="button" class="showme"> Click to Buy </button>
        </div>
      </div>
      <div class="noBorder">
        <div class="cropper showhim">
          <img src="../../assets/keyLimeTruffle.jpg" />
          <p>Key Lime</p>
          <div class="showme">Extended Description Of This Truffle
          </div>
          <button type="button" class="showme"> Click to Buy </button>
        </div>
      </div>
      <div class="noBorder">
        <div class="cropper showhim">
          <img src="../../assets/milkTruffle.jpg" />
          <p>Milk</p>
          <div class="showme">Extended Description Of This Truffle
          </div>
          <button type="button" class="showme"> Click to Buy </button>
        </div>
      </div>
      <div class="noBorder">
        <div class="cropper showhim">
          <img src="../../assets/mintTruffle.jpg" />
          <p>Mint</p>
          <div class="showme">Extended Description Of This Truffle
          </div>
          <button type="button" class="showme"> Click to Buy </button>
        </div>
      </div>
      <div class="noBorder">
        <div class="cropper showhim">
          <img src="../../assets/mochaTruffle.jpg" />
          <p>Mocha</p>
          <div class="showme">Extended Description Of This Truffle
          </div>
          <button type="button" class="showme"> Click to Buy </button>
        </div>
      </div>
      <div class="noBorder">
        <div class="cropper showhim">
          <img src="../../assets/orangeTruffle.jpg" />
          <p>Orange</p>
          <div class="showme">Extended Description Of This Truffle
          </div>
          <button type="button" class="showme"> Click to Buy </button>
        </div>
      </div>
      <div class="noBorder">
        <div class="cropper showhim">
          <img src="../../assets/peanutButterTruffle.jpg" />
          <p>Peanut Butter</p>
          <div class="showme">Extended Description Of This Truffle
          </div>
          <button type="button" class="showme"> Click to Buy </button>
        </div>
      </div>
      <div class="noBorder">
        <div class="cropper showhim">
          <img src="../../assets/raspberryTruffle.jpg" />
          <p>Raspberry</p>
          <div class="showme">Extended Description Of This Truffle
          </div>
          <button type="button" class="showme"> Click to Buy </button>
        </div>
      </div>


    </div>
  </div>
</div>
<div class="center-text">
    <div class="clip-wrap">
        <div class="clip-each border-style-thin">
        </div>
    </div>
    <div class="clip-wrap">
        <div class="clip-each border-style-gradient">
        </div>
    </div>
    <div class="clip-wrap">
        <div class="clip-each box-shadow-inset">
        </div>
    </div>
</div>

<svg class="clip-svg">
  <defs>
    <clipPath id="octagon-clip" clipPathUnits="objectBoundingBox">
      <polygon points="0.3 0, 0.7 0, 1 0.3, 1 0.7, 0.7 1, 0.3 1, 0 0.7, 0 0.3" />
    </clipPath>
  </defs>
</svg>
