/* You can add global styles to this file, and also import other style files */

/* this is where the rules for the footer are defined, :flex keeps the footer at the bottom */
footer {
  text-align: center;
  font-size: 1.4em;
  color: black;
  position:flex;
  bottom: 0;
  width: 100%;
  margin: 0;
  /* background-color: #000; */
  height: 40px;
}

.alert-warning, .alert-danger {
  max-width: 30rem;
  margin: auto;
  text-align: center;
}

/* STILL NEEDS TO BE TWEAKED */
.alert-success.updated {
  padding: 3rem;
  font-size: 1.5rem;
}
body{
  background-color: #bcb1ac;
}
div{
  margin:10px;
}
