/* You can add global styles to this file, and also import other style files */


/* Basic site-wide settings */
body {
  background-color: #bcb1ac;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, footer {
  font-family: 'Lato', sans-serif;
  line-height: 4.5rem;
}

/* Colors links and removes their underlines */
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration:none;
  color: #453c18;
}

/* Stops blue border from appearing around selected buttons (important for navbar)*/
button:focus, li:focus {
  outline:0;
}


/* Sets page height, so footer is always at the bottom of the page or content */
#wrapper {
  min-height: calc(100vh - 50px);
}

/* Used to warn admin when database save or upload failed */
.alert-danger {
  max-width: 30rem;
  margin: auto;
  text-align: center;
}


/* Admins click this button to update text content */
.updateTextButton {
  margin: 1rem;
  margin-bottom: 3rem;
  background-color: #785c44;
  color: #bcb1ac;
}
.updateTextButton:hover {
  background-color: #4E2E28;
  color: #bcb1ac;
}


/* Used to tell admin successful text content (paragraph) update */
.alert-success.updated {
  margin: 1rem;
  margin-top: -1rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: 2px solid darkgreen;
  border-radius: 0.5rem;
}


/* Admin view, each image upload form */
.imageUploadingForm {
  padding: 5rem;
  padding-left: 5rem;
  border: 4px solid gray;
  margin: -2px;
}
.imageUploadingForm:first-of-type {
  margin-left: 2px;
}
.uploadImageButton {
  background-color: #785c44;
  color: #bcb1ac;
  outline:0;
}
.uploadImageButton:hover, .uploadImageButton:active, .uploadImageButton:focus {
  background-color: #4E2E28 !important;
  color: #bcb1ac !important;
}
