<div class="container-fluid">
  <p *ngIf="isAdmin">Is admin!!!</p>

  <div id="aboutSlider">
      <figure>
          <img src="../../assets/chainsign.png" alt="Happy people with cats">
          <img src="../../assets/ganachetest.png" alt="Happy people with cats">
          <img src="../../assets/gahnash.jpg" alt="Happy people with cats">
          <img src="../../assets/sampleChocolate.png" alt="Happy people with cats">
          <img src="../../assets/chainsign.png" alt="Happy people with cats">
      </figure>
  </div>
</div>
