<div class="container-fluid">



  <!-- Home paragraph, describes shop -->
  <div class="row">
    <div class="col-md-12">
      <!-- If not admin, show paragraph -->
      <h1 *ngIf="!isAdmin else inputHomeParagraph" id="homeParagraph"></h1>
      <!-- If yes admin, show form to update content -->
      <ng-template #inputHomeParagraph>
        <texteditor [elementId]="'homeParagraph'"></texteditor>
        <button (click)="saveHomeParagraph()">Update</button>
        <!-- After successful update, show confirmation -->
        <span class="alert-success updated" *ngIf="homeParagraphUpdated">
          <strong>Updated</strong> <i class="fa fa-check-circle fa-1x" aria-hidden="true"> </i>
        </span>
      </ng-template>
    </div>
  </div>
  <!-- End of row for home paragraph-->



  <!-- Image slider -->
  <div class="row">
    <div class="col-md-12" id="homeSlider">
      <figure>
        <img *ngIf="homeImage1Src && (homeImage1Link.toLowerCase() == 'na')" [src]="homeImage1Src" [alt]="homeImage1Description">
        <a *ngIf="homeImage1Src && (homeImage1Link.toLowerCase() !== 'na')" [href]="homeImage1Link"><img [src]="homeImage1Src" [alt]="homeImage1Description"></a>

        <img *ngIf="homeImage2Src && (homeImage2Link.toLowerCase() == 'na')" [src]="homeImage2Src" [alt]="homeImage2Description">
        <a *ngIf="homeImage2Src && (homeImage2Link.toLowerCase() !== 'na')" [href]="homeImage2Link"><img [src]="homeImage2Src" [alt]="homeImage2Description"></a>

        <img *ngIf="homeImage3Src && (homeImage3Link.toLowerCase() == 'na')" [src]="homeImage3Src" [alt]="homeImage3Description">
        <a *ngIf="homeImage3Src && (homeImage3Link.toLowerCase() !== 'na')" [href]="homeImage3Link"><img [src]="homeImage3Src" [alt]="homeImage3Description"></a>

        <img *ngIf="homeImage4Src && (homeImage4Link.toLowerCase() == 'na')" [src]="homeImage4Src" [alt]="homeImage4Description">
        <a *ngIf="homeImage4Src && (homeImage4Link.toLowerCase() !== 'na')" [href]="homeImage4Link"><img [src]="homeImage4Src" [alt]="homeImage4Description"></a>

        <img *ngIf="homeImage5Src && (homeImage5Link.toLowerCase() == 'na')" [src]="homeImage5Src" [alt]="homeImage5Description">
        <a *ngIf="homeImage5Src && (homeImage5Link.toLowerCase() !== 'na')" [href]="homeImage5Link"><img [src]="homeImage5Src" [alt]="homeImage5Description"></a>

        <img *ngIf="homeImage1Src && (homeImage1Link.toLowerCase() == 'na')" [src]="homeImage1Src" [alt]="homeImage1Description">
        <a *ngIf="homeImage1Src && (homeImage1Link.toLowerCase() !== 'na')" [href]="homeImage1Link"><img [src]="homeImage1Src" [alt]="homeImage1Description"></a>
      </figure>
    </div>
  </div>
  <!-- End of row for image slider -->



  <!-- If yes admin, show form to update image -->
  <div *ngIf="isAdmin">

    <!-- Image 1 and 2 update form -->
    <div class="row">

      <!-- Image1 upload -->
      <div class="col-md-6 imageUploadingForm imageUploadingForm" *ngIf="homeImage1Src">
        <label for="homeImage1Existing">Existing Image:</label>
        <img *ngIf="homeImage1Src" id="homeImage1Existing" style="width: 100px; height: auto" [src]="homeImage1Src" [alt]="homeImage1Description">
        <br>
        <br>
        <label for="homeImage1FileInput">Image to upload: <em style="color: red;">*required</em></label>
        <input type="file" id="homeImage1FileInput" (change)="homeDetectImage1($event)">
        <p><em>*For proper appearance, image should have a 2:1 aspect ratio.</em></p>
        <br>
        <label for="homeImage1Description">Description of image: <em style="color: red;">*required</em></label>
        <input type="text" id="homeImage1Description" placeholder="description" [(ngModel)]="homeImage1Description">
        <br>
        <br>
        <label for="homeImage1Link">Link: <em style="color: gray">*optional</em></label>
        <input type="text" id="homeImage1Link" placeholder="Enter &#34;NA&#34; for no link" [(ngModel)]="homeImage1Link">
        <br>
        <br>
        <button class="btn btn-md uploadImageButton" (click)="homeUploadImage1()">Upload this image</button>
        <!-- Progress bar -->
        <div *ngIf="homeUploadingImage1">
          <br>
          <p>Progress: {{homeCurrentUpload?.progress}}% Complete</p>
          <progress class="progress is-success" min=1 max=100 value="{{ homeCurrentUpload?.progress }}"></progress>
        </div>
      </div>

      <!-- Image2 upload -->
      <div class="col-md-6 imageUploadingForm imageUploadingForm" *ngIf="homeImage2Src">
        <label for="homeImage2Existing">Existing Image:</label>
        <img *ngIf="homeImage2Src" id="homeImage2Existing" style="width: 100px; height: auto" [src]="homeImage2Src" [alt]="homeImage2Description">
        <br>
        <br>
        <label for="homeImage2FileInput">Image to upload: <em style="color: red;">*required</em></label>
        <input type="file" id="homeImage2FileInput" (change)="homeDetectImage2($event)">
        <p><em>*For proper appearance, image should have a 2:1 aspect ratio.</em></p>
        <br>
        <label for="homeImage2Description">Description of image: <em style="color: red;">*required</em></label>
        <input type="text" id="homeImage2Description" placeholder="description" [(ngModel)]="homeImage2Description">
        <br>
        <br>
        <label for="homeImage2Link">Link: <em style="color: gray">*optional</em></label>
        <input type="text" id="homeImage2Link" placeholder="Enter &#34;NA&#34; for no link" [(ngModel)]="homeImage2Link">
        <br>
        <br>
        <button class="btn btn-md uploadImageButton" (click)="homeUploadImage2()">Upload this image</button>
        <!-- Progress bar -->
        <div *ngIf="homeUploadingImage2">
          <br>
          <p>Progress: {{homeCurrentUpload?.progress}}% Complete</p>
          <progress class="progress is-success" min=1 max=100 value="{{ homeCurrentUpload?.progress }}"></progress>
        </div>
      </div>

    </div>
    <!-- End of row for updating images 1 and 2 -->



    <!-- Image 3 and 4 update form -->
    <div class="row">

      <!-- Image3 upload -->
      <div class="col-md-6 imageUploadingForm imageUploadingForm" *ngIf="homeImage3Src">
        <label for="homeImage3Existing">Existing Image:</label>
        <img *ngIf="homeImage3Src" id="homeImage3Existing" style="width: 100px; height: auto" [src]="homeImage3Src" [alt]="homeImage3Description">
        <br>
        <br>
        <label for="homeImage3FileInput">Image to upload: <em style="color: red;">*required</em></label>
        <input type="file" id="homeImage3FileInput" (change)="homeDetectImage3($event)">
        <p><em>*For proper appearance, image should have a 2:1 aspect ratio.</em></p>
        <br>
        <label for="homeImage3Description">Description of image: <em style="color: red;">*required</em></label>
        <input type="text" id="homeImage3Description" placeholder="description" [(ngModel)]="homeImage3Description">
        <br>
        <br>
        <label for="homeImage3Link">Link: <em style="color: gray">*optional</em></label>
        <input type="text" id="homeImage3Link" placeholder="Enter &#34;NA&#34; for no link" [(ngModel)]="homeImage3Link">
        <br>
        <br>
        <button class="btn btn-md uploadImageButton" (click)="homeUploadImage3()">Upload this image</button>
        <!-- Progress bar -->
        <div *ngIf="homeUploadingImage3">
          <br>
          <p>Progress: {{homeCurrentUpload?.progress}}% Complete</p>
          <progress class="progress is-success" min=1 max=100 value="{{ homeCurrentUpload?.progress }}"></progress>
        </div>
      </div>

      <!-- Image4 upload -->
      <div class="col-md-6 imageUploadingForm imageUploadingForm" *ngIf="homeImage4Src">
        <label for="homeImage4Existing">Existing Image:</label>
        <img *ngIf="homeImage4Src" id="homeImage4Existing" style="width: 100px; height: auto" [src]="homeImage4Src" [alt]="homeImage4Description">
        <br>
        <br>
        <label for="homeImage4FileInput">Image to upload: <em style="color: red;">*required</em></label>
        <input type="file" id="homeImage4FileInput" (change)="homeDetectImage4($event)">
        <p><em>*For proper appearance, image should have a 2:1 aspect ratio.</em></p>
        <br>
        <label for="homeImage4Description">Description of image: <em style="color: red;">*required</em></label>
        <input type="text" id="homeImage4Description" placeholder="description" [(ngModel)]="homeImage4Description">
        <br>
        <br>
        <label for="homeImage4Link">Link: <em style="color: gray">*optional</em></label>
        <input type="text" id="homeImage4Link" placeholder="Enter &#34;NA&#34; for no link" [(ngModel)]="homeImage4Link">
        <br>
        <br>
        <button class="btn btn-md uploadImageButton" (click)="homeUploadImage4()">Upload this image</button>
        <!-- Progress bar -->
        <div *ngIf="homeUploadingImage4">
          <br>
          <p>Progress: {{homeCurrentUpload?.progress}}% Complete</p>
          <progress class="progress is-success" min=1 max=100 value="{{ homeCurrentUpload?.progress }}"></progress>
        </div>
      </div>

    </div>
    <!-- End of row for updating images 3 and 4 -->



    <!-- Image 5 and (null) update form -->
    <div class="row">

      <!-- Image5 upload -->
      <div class="col-md-6 imageUploadingForm imageUploadingForm" *ngIf="homeImage5Src">
        <label for="homeImage5Existing">Existing Image:</label>
        <img *ngIf="homeImage5Src" id="homeImage5Existing" style="width: 100px; height: auto" [src]="homeImage5Src" [alt]="homeImage5Description">
        <br>
        <br>
        <label for="homeImage5FileInput">Image to upload: <em style="color: red;">*required</em></label>
        <input type="file" id="homeImage5FileInput" (change)="homeDetectImage5($event)">
        <p><em>*For proper appearance, image should have a 2:1 aspect ratio.</em></p>
        <br>
        <label for="homeImage5Description">Description of image: <em style="color: red;">*required</em></label>
        <input type="text" id="homeImage5Description" placeholder="description" [(ngModel)]="homeImage5Description">
        <br>
        <br>
        <label for="homeImage5Link">Link: <em style="color: gray">*optional</em></label>
        <input type="text" id="homeImage5Link" placeholder="Enter &#34;NA&#34; for no link" [(ngModel)]="homeImage5Link">
        <br>
        <br>
        <button class="btn btn-md uploadImageButton" (click)="homeUploadImage5()">Upload this image</button>
        <!-- Progress bar -->
        <div *ngIf="homeUploadingImage5">
          <br>
          <p>Progress: {{homeCurrentUpload?.progress}}% Complete</p>
          <progress class="progress is-success" min=1 max=100 value="{{ homeCurrentUpload?.progress }}"></progress>
        </div>
      </div>

    </div>
    <!-- End of row for updating images 5 and (null) -->


  </div>
  <!-- End of admin-only image -->

</div>
<!-- End of container-fluid -->
