<div class="container-fluid">
  <p *ngIf="isAdmin">Is admin!!!</p>
  <div class="row">

    <div style="col-md-5">
        <h1>Shop at our <strong>online store</strong> or visit our Zionsville location.</h1>
    </div>

  <div id="aboutSlider" class="col-md-12 col-md-8-offset col-sm-12">
      <figure>
          <img src="../../assets/chainsign.png" alt="Happy people with cats">
          <img src="../../assets/ganachetest.png" alt="Happy people with cats">
          <img src="../../assets/gahnash.jpg" alt="Happy people with cats">
          <img src="../../assets/sampleChocolate.png" alt="Happy people with cats">
          <img src="../../assets/chainsign.png" alt="Happy people with cats">
      </figure>
  </div>
</div>
</div>
